<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Coming Soon' rel='stylesheet'>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/314aa313ca.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <div class="topnav" id="myTopnav" style="background-color: red;  ">
        <a href="#home" class="active" style="color: black;">Home</a>
        <a class="nada" href="#news">Covid-19</a>
        <a href="#contact">Salud</a>
        <a href="#about">Seguridad</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </div>
    <div class="division"></div>


    <div class="regis" style=" ">
        Registrate
    </div>

    <div class="regis2">
        Iniciar Sesión
    </div>

    <form class="form2" action="#" method="post" style="">

        <input type="text" name="" id="" placeholder="Corre">
        </br></br>

        <input type="password" name="" id="" placeholder="Contraseña">
        </br></br>

        <button type="submit" style="background: rgb(126, 5, 35);color: white; border-color: rgb(126, 5, 35); box-shadow: 3px 3px 3px 3px rgba(7, 7, 7, 0.2);">Iniciar Sesión</button>
    </form>

    <form class="registro" action="#" method="post">

        <input type="text" name="" id="" placeholder="Nombre">
        </br> </br>
        <input type="email" name="" id="" placeholder="Correo">
        </br> </br>

        <input type="password" name="" id="" placeholder="Contraseña">
        </br> </br>

        <input type="password" name="" id="" placeholder="Repetir contraseña">
        </br> </br>
        <button type="submit"
            style="background: coral; border-color: coral; box-shadow: 3px 3px 3px 3px rgba(7, 7, 7, 0.2);color: white;">Registrarse</button>
    </form>







    <!-- margin-top: 15%; position: absolute; left: 64%-->





</body>
<script src="../js/login.js"></script>

</html>